.container {
  display: flex;
  min-height: calc(100vh - 70px);
  background: var(--white);
}

.card {
  display: flex;
  width: 515px;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 30px;
  margin: auto;
  background: var(--light-background);
  border-radius: 8px;
}

.innerCard {
  margin: 40px auto 0 auto;
}

.authList {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  width: 140px;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  color: #ffffff;
}

.required {
  margin-left: 2px;
  color: var(--red);
}

.button {
  width: 260px;
  margin-top: 15px;
  background: var(--red);
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.input {
  width: 300px;
  height: 50px;
  background: var(--dark-background);
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 14px;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--dark-background) inset !important;
  -webkit-text-fill-color: #fff !important;
}

.signInSection {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.signIn {
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  color: var(--red);
}

.alertTxt {
  color: var(--rejected);
  margin: -14px 0 18px 140px;
  font-size: 13px;
  font-family: 'Gilroy-Regular';
}
